jakeactually.com {
	header /codepen/* {
		Access-Control-Allow-Origin *
	}

	handle_path /cuarenta/api/* {
		rewrite * {path}
		reverse_proxy jakeactually.com:4000
	}

	handle_path /cuarenta/* {
		try_files cuarenta/{path} /cuarenta/index.html
	}

	handle_path /uno/api/* {
		rewrite * /api{path}
		reverse_proxy jakeactually.com:8080
	}

	handle_path /uno/* {
		try_files uno/{path} /uno/index.html
	}

	handle_path /checkers/api/* {
		rewrite * /api{path}
		reverse_proxy jakeactually.com:5000
	}

	handle_path /checkers/* {
		try_files checkers/{path} /checkers/index.html
	}

	handle_path /file-api/* {
		rewrite * {path}
		reverse_proxy jakeactually.com:3000
	}

	file_server
}
