jakeactually.com {
	header /codepen/* {
		Access-Control-Allow-Origin *
	}

	handle_path /cuarenta/api/* {
		rewrite * /api{path}
		reverse_proxy localhost:8081
	}

	handle_path /cuarenta/* {
		try_files cuarenta/{path} /cuarenta/index.html
	}

	handle_path /uno/api/* {
		rewrite * /api{path}
		reverse_proxy localhost:8080
	}

	handle_path /uno/* {
		try_files uno/{path} /uno/index.html
	}

	handle_path /checkers/api/* {
		rewrite * /api{path}
		reverse_proxy localhost:5000
	}

	handle_path /checkers/* {
		try_files checkers/{path} /checkers/index.html
	}

	handle_path /file-api/* {
		rewrite * /file-api{path}
		reverse_proxy localhost:5001
	}

	file_server
}
