body {
    padding: 50px;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5em;
}

a {
    font-weight: 700;
}

a:visited {
    color: blue;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

img {
    max-width: calc(100vw - 100px);
}
