body {
    padding: 50px;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5em;
}

@media (max-width: 768px) {
    body {
        font-size: 1.25em;
    }
}

a {
    font-weight: 700;
}

a:visited {
    color: blue;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

img {
    max-width: calc(100vw - 100px);
}

canvas {
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
}

#content {
    position: relative;
}

section {
    color: white;
    mix-blend-mode: difference;
}

#games {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#games p {
    font-size: 0.8em;;
}

#games .demo {
    margin-right: 10px;
}

#games article {
    margin-top: 20px;
    margin-bottom: 20px;
}

#games img {
    width: 90%;
    height: 50vh;
    object-fit: cover;
}

@media (max-width: 768px) {
    #games {
        display: grid;
        grid-template-columns: 1fr;
    }
}
