body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
    margin-bottom: 10px;
}

#main {
    box-sizing: border-box;
    position: relative;
    padding: 50px;
    padding-bottom: 75px;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
}

form {
    max-width: 400px;
}

input, textarea {
    font-family: "Poppins", sans-serif;
}

textarea {
    height: 150px;
}

#submit {
    display: flex;
    align-items: center;
}

input[type="submit"] {
    border-radius: 0;
    background-color: #000000;
}

input[type="submit"]:hover {
    background-color: #4d4d4d;
}

@keyframes loader {
    to { transform: rotate(360deg); }
}

#loader {
    display: none;
    margin-left: 10px;
    animation: loader 1s linear infinite;
}

#message {
    display: none;
    margin-bottom: 10px;
}

@media (max-width: 1200px) {
    #canvas {
        display: none;
    }
}