.sb-main {
    font-family: sans-serif;    
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.sb-ball {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #0078D4;
    pointer-events: none;
}

.sb-button {
    padding: 5px 10px;
    margin-right: 7px;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #0078D4;
    cursor: pointer;
}

.sb-icon {
    width: 15px;
    height: 15px;
    padding: 0;
    border: none;
    margin-left: 5px;
    background: none;
    cursor: pointer;
}

.sb-icon svg {
    width: 100%;
    height: 100%;
}

.sb-icon path {
    color: #393939;
}

.sb-column {
    flex-grow: 1;    
    margin-right: 5px;
}

.sb-column:last-child {
    margin-right: 0;
}

.sb-column img {
    max-width: 100%;
}

.sb-basis-3 {
    flex-basis: 25%;
}

.sb-basis-4 {
    flex-basis: 33.33%;
}

.sb-basis-6 {
    flex-basis: 50%;
}

.sb-add-bar {
    text-align: center;
}

.sb-add-bar button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    margin-top: 10px;
    background-color: #979593;
    cursor: pointer;
}

.sb-columns {
    display: flex;
}

.sb-column-control {
    display: flex;
    justify-content: flex-end;
}

.sb-block {
    position: relative;    
    padding: 10px;
    border: 1px solid #979593;
    background-color: #FFFFFF;
    box-shadow: 0 2px 3px #979593;
}

.sb-block p {
    margin: 0;
}

.sb-block-head {
    display: flex;
    margin-bottom: 5px;   
}

.sb-block-head path {
    color: #393939;
}

.sb-block-head .fa-caret-down, .sb-block-head .fa-caret-up {
    transform: translateY(-5px);
}

.sb-block-name {
    flex-grow: 1;
}

.sb-gap {
    position: relative;
    z-index: 1;
    height: 5px;
}

.sb-light {
    height: 5px;
    background-color: #0078D4;
    opacity: 0;
}

.sb-dragging .sb-light {
    opacity: 1;
}

.sb-dropzone {
    position: absolute;
    left: 0;
    right: 0;
    top: -5px;
    bottom: -5px;
}

.sb-top-block {
    position: relative;
    background-color: transparent;
}

.sb-top-block > .sb-block-head {
    justify-content: flex-end;
}

.sb-top-block > .sb-columns { 
    margin-top: 0;
}

.sb-up-drop {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
}

.sb-down-drop {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
}

.sb-before {
    position: absolute;
    left: 0;
    width: 100%;
    top: -15px;
    font-size: 0.8em;
    text-align: center;
}

.sb-after {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -15px;
    font-size: 0.8em;
    text-align: center;
}

/* Blocks */

.sb-schemas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 60px;
    grid-gap: 5px;
    width: 500px;
}
  
.sb-schema {
    display: flex;
    align-items: center;
    border: 1px solid #D0D0D0;
    padding: 15px;
    cursor: pointer;
    transition-duration: 400ms;
}
  
.sb-schema:hover {
    background-color: #D0D0D0;
}

/* Modal */

.sb-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.sb-modal {
    padding: 20px;
    max-width: 500px;
    font-family: sans-serif;
    background-color: #FFFFFF;
}

.sb-modal > h2 {
    margin: 0;
}

.sb-field {
    display: block;
    margin-bottom: 10px;
}

.sb-modal input, .sb-modal textarea {
    display: block;
}

.sb-modal textarea, .sb-modal .sb-quill {
    width: 495px;
}

.sb-modal textarea {
    min-height: 50px;
    box-sizing: border-box;
}

.sb-wrap {
    max-height: 400px;
    padding-right: 5px;
    overflow-y: auto;
}

.sb-content {
    padding: 10px 0;
}

/* Images Field */

.sb-images-field {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-auto-rows: 60px;
    grid-gap: 5px;
    width: 350px;
    margin-bottom: 10px;
}

.sb-images-field .sb-thumb {
    position: relative;
    overflow: hidden;
}

.sb-images-field .sb-hidden {
    display: none;
}

.sb-images-field img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sb-images-field .sb-clear {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 0;
    font-size: 16px;
    background-color: #E81123;
    color: #FFFFFF;
    cursor: pointer;
}

.sb-images-field .sb-add {
    border: none;
    font-size: 36px;
    color: #FFFFFF;
    background-color: #0078D4;
    cursor: pointer;
}
