#add-a-file {
  padding: 20px;
}

.row {
  display: flex;
  height: 55px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ECEFF1;
}

.row .columns {
  display: flex;
  flex-grow: 1;
}

.row .control {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.column {
  display: flex;
  align-items: center;
  padding: 0 5px 0 10px;
  background-color: #FFFFFF;
}

.column:not(:last-child) {
  margin-right: 10px;
}

.column.basis-1 {
  flex-basis: 100%;
}

.column.basis-2 {
  flex-basis: 50%;
}

.column.basis-3 {
  flex-basis: 33.33%;
}

.column.basis-4 {
  flex-basis: 25%;
}

.column .active, .column .empty {
  display: flex;
  align-items: center;
  flex-basis: 100%;
}

.column .active {
  justify-content: space-between;
}

.column .empty {
  justify-content: flex-end;
}

.column .title {
  font-weight: 700;
}

/* Widget */

#widgets {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 60px;
  grid-gap: 5px;
  width: 500px;
}

#widgets .widget {
  display: flex;
  align-items: center;
  border: 1px solid #ECEFF1;
  padding: 15px;
  cursor: pointer;
  transition-duration: 400ms;
}

#widgets .widget:hover {
  background-color: #ECEFF1;
}

/* Quill */

.quill {
  width: 500px;
}

.ql-snow.ql-toolbar button {
  min-width: 0;
}

/* Images Field */

.images-field {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  grid-auto-rows: 60px;
  grid-gap: 5px;
  width: 350px;
}

.images-field .thumb {
  position: relative;
}

.images-field .hidden {
  display: none;
}

.images-field img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.images-field button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: #F44336;
  border-radius: 0;
  color: #FFFFFF;
}

.images-field button:hover {
  background-color: #D32F2F;
  color: #FFFFFF;
}

.images-field i {
  font-size: 16px;
}

.images-field .add {
  min-width: 0;
  width: auto;
  height: auto;
  background-color: #1565C0;
}

.images-field .add:hover {
  background-color: #2196F3;
}

.images-field .add i {
  font-size: 24px;
}
